article > p {
    margin-bottom: 1rem;
}

.navbar-item > img {
    max-height: 5rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin {
    margin-left: 12%;
    margin-right: 12%;
}

div > a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.has-text-dark-blue {
    color: darkblue;
}

.has-background-turquoise {
    background-color: #1acec5;
}

.logo-height {
    height: 100px;
}

.logo-centered {
    position: absolute;
    left: 50%;
    margin-left: -100px;
}

.gradient {
    background-image: repeating-linear-gradient(
            135deg,
            #4a4a4a, #363636 150px
    );
}

.gradient-card {
    background-image: linear-gradient(
            135deg,
            #0f7772 100px, #073b39
    );
}

.gradient-nav {
    background-image: linear-gradient(
            135deg,
            #1acec5, #0f7b76
    );
}

.navbar-height {
    height: 6.25rem;
}

.flip-card {
    background-color: transparent;
    height: 20rem;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    /*transform: rotateY(180deg);*/
    -webkit-transform: rotateY(180deg);
    display: block;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    /*backface-visibility: hidden;*/
    -webkit-backface-visibility: hidden;
    border-radius: 7px;
}

.flip-card-front {
    background-color: #0f7772;
    color: white;
    padding-top: 50px;
}

.flip-card-back {
    background-color: #0f7772;
    color: white;
    transform: rotateY(180deg);
    padding: 50px;
}

#section {
    padding-top: 125px;
    padding-left: 0%;
    padding-right: 0%;
}

@media (max-width: 1023px) {
    :root {
        font-size: 90%;
    }

    .logo-height {
        height: 90px;
    }

    .logo-centered {
        position: absolute;
        left: 50%;
        margin-left: -90px;
    }
}

@media (max-width: 768px) {
    :root {
        font-size: 70%;
    }

    .front-header {
        display: none;
    }

    .flip-card:active .flip-card-inner {
        transform: rotateY(180deg);
    }

    .logo-height {
        height: 70px;
    }

    .logo-centered {
        position: absolute;
        left: 50%;
        margin-left: -70px;
    }

    #section {
        padding-top: 85px;

    }
}